//need to use the same classes
.react-flow__node{
    display: flex;
    border-radius: 15px;
    justify-content: center;;
    align-items: center;
    min-width: 80px;
    background: #574D9B 0% 0% no-repeat padding-box;
    border: 1px solid #574D9B;
    background: #574D9B 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #AAB2C099;
    border: 1px solid #574D9B;
    border-radius: 15px;
    opacity: 1;
    width: 117px;
    height: 30px;
  
    color: #FFFFFF;
    //text-align: center;
    text-align:left;
    font: normal normal normal 14px/18px IBM Plex Sans;
    letter-spacing: 0px;
    font-weight: bolder;
    opacity: 1; 
    // to highlight the selected node
    &.selected{ 
      background: #353D4B 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #AAB2C099;
      opacity: 1;   
    }
  
    &:hover {
      background: #403883 0% 0% no-repeat padding-box;
      border: 1px solid #403883;
      background: #403883 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #AAB2C099;
      border: 1px solid #403883;
      border-radius: 15px;
      opacity: 1;
    }
      
  }

 